.nd-reviews {
    $size--review-body-width: 540px;
    $size--avatar-width: 250px;
    $size--quote-width: 70px;

    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 10px;

    @include respond-to(phones) {
        padding-left: 0;
        padding-right: 0;
    }

    &__authors {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__author {
        display: block;
        width: 180px;
        height: 180px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        border-radius: 50%;

        &::before {
            @include ease-transition;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 50%;
            border: 5px solid transparent;
            border-right-color: $color--light-sub;
            transform: rotate(-55deg);
        }

        &.active::before {
            border-right-color: $color--primary;
            transform: rotate(60deg);
        }

        &:hover::before {
            border-right-color: $color--primary;
        }

        img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
        }
    }

    &__container {
        margin-top: 70px;
        text-align: center;
    }
}

.nd-review {
    &__body {
        display: none;
        &.active {
            display: block;
        }
    }

    &__title {
        text-decoration: none;
        font-size: 3.2rem;
        color: $color--primary;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;
    }

    &__subtitle {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__text {
        padding: 10px 0;
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.333;
    }

    &__main-text {
        padding-top: 40px;
        padding-bottom: 10px;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        line-height: 1.333;
    }

    &__portfolio {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 85px auto;
    }

    &__portfolio-item {
        max-width: 260px;
        margin: 15px;
        max-height: 240px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 240px;
        }
    }
}
