.nd-price {
    $column-width: 195px;
    $title-column-width: 390px;

    background-color: $color--grey;
    padding-bottom: 100px;
    padding-top: 80px;

    &__container {
        margin: 0 auto;
        max-width: 1140px;
        overflow-x: auto;
    }

    &__hit::before {
        content: 'Хит';
        color: $color--primary;
        font-size: 1.4rem;
        display: block;
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: $column-width;
        text-align: center;
    }

    &__table {
        font-size: 1.4rem;
        line-height: 2.6rem;
        margin-top: 100px;
        border-collapse: collapse;
        border-spacing: 0;

        td,
        th {
            border: none;
            padding: 15px 10px;
            box-sizing: border-box;
            max-width: $column-width;
            width: $column-width;
            vertical-align: top;
            text-align: center;
        }

        td,
        th {
             &:nth-child(1) {
                max-width: $title-column-width;
                width: $title-column-width;
                padding-right: 110px;
                padding-left: 0;
                text-transform: uppercase;
                text-align: right;
            }
        }

        td,
        th {
             &:nth-child(4) {
                background-color: $color--light;
            }
        }

        th {
            padding-top: 80px;
            padding-bottom: 40px;
            position: relative;
        }

        tr:hover td {
            background-color: $color--light;
        }
    }

    &__table-header {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__fail-icon {
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../images/png/fail.png');
        background-image: url('../images/svg/fail.svg');
        background-size: 1.4rem;
    }

    &__success-icon {
        display: inline-block;
        width: 2rem;
        height: 1.4rem;
        background-image: url('../images/png/success.png');
        background-image: url('../images/svg/success.svg');
        background-size: 2rem 1.4rem;
    }

    &__time-icon {
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../images/png/clock.png');
        background-image: url('../images/svg/clock.svg');
        background-size: 1.4rem;
        margin-right: 10px;
        vertical-align: middle;
    }

    &__success-text {
        text-transform: uppercase;
        color: $color--primary;
        font-size: 1.8rem;
    }

    &__weeks {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__hours {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__description {
        font-size: 1.6rem;
        line-height: 1.25;
    }

    &__price-row {
        td:nth-child(1) {
            color: $color--primary;
        }
    }

    &__new-price {
        font-size: 1.8rem;
        font-variant: small-caps;
        color: $color--primary;
    }

    &__old-price {
        font-size: 2.2rem;
        font-variant: small-caps;
        margin-top: 10px;
        position: relative;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            width: 110%;
            left: -5%;
            top: 55%;
            display: block;
            height: 2px;
            background-color: $color--primary;
        }
    }

    &__economy {
        font-size: 1.5rem;
        color: #949494;
        text-transform: uppercase;
        margin-top: 20px;
    }

    &__discount-until {
        font-size: 1.6rem;
        line-height: 2rem;
        text-transform: uppercase;
        margin-top: 20px;
        vertical-align: middle;
    }

    &__btn {
        height: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.3rem;
        &:active {
            padding-top: 1.2rem;
        }
    }
}
