@import "common/fonts";
@import "common/colors";
@import "common/sizes";
@import "common/mixins";

@import "blocks/block-header";
@import "blocks/button_cta";
@import "blocks/contact-form";
@import "blocks/full-width-block";
@import "blocks/popup";
@import "blocks/scrollup";

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
    font-size: 10px;
}

body {
    background-color: $color--body-bg;
    color: $color--dark;
    font-size: 1.8rem;
    overflow-x: hidden;
}

.nd-header {
    align-items: center;
    background-color: $color--header-bg;
    display: flex;
    height: $size--header-size;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 100;

    &__logo {
        display: inline-block;
        margin-left: 50px;

        @include respond-to(tablets-phones) {
            margin-left: 10px;
        }


        &-img {
            vertical-align: middle;
            width: 200px;

            @include respond-to(phones) {
                display: none;
            }


            &-small {
                display: none;
                vertical-align: middle;
                width: 55px;

                @include respond-to(phones) {
                    display: inline-block;
                }
            }
        }
    }

    &__menu {
        display: inline-block;
        margin: 0;
        vertical-align: middle;

        @include respond-to(phones) {
            display: none;
        }


        &-icon {
            color: $color--light;
            display: none;
            font-size: 2.4rem;
            margin: 0;
            margin-right: 10px;
            text-decoration: none;
            vertical-align: middle;

            @include respond-to(phones) {
                display: inline-block;
            }
        }

        &__item {
            display: inline-block;
            margin: 0 10px;
            position: relative;
            text-shadow: $color--header-bg 0 0 5px;

            a {
                color: $color--light;
                text-decoration: none;

                &:hover::after {
                    opacity: 1;
                    width: calc(100% + 10px);
                }

                &::after {
                    @include ease-transition;

                    border-bottom: 2px solid $color--primary;
                    bottom: 0;
                    content: "";
                    cursor: pointer;
                    left: 0;
                    margin-left: -5px;
                    position: absolute;
                    width: 0%;
                }
            }
        }
    }

    &__phones {
        color: $color--light;
        display: inline-block;
        margin-right: 50px;
        min-width: 210px;
        position: relative;
        vertical-align: middle;

        @include respond-to(tablets-phones) {
            margin-right: 10px;
        }


        &:hover {
            .nd-header__phones__dropdown {
                opacity: 1;
            }
        }

        &__main-phone {
            text-shadow: $color--header-bg 0 0 5px;
        }

        &__arrow {
            display: inline-block;
            margin: 5px;
            vertical-align: middle;
            width: 15px;
        }

        &__dropdown {
            @include ease-transition;

            background: $color--popup-bg;
            color: $color--dark;
            display: block;
            line-height: 1;
            opacity: 0;
            padding: 20px;
            position: absolute;
            text-align: center;
            top: calc(50% + 2rem);

            &::after {
                border: 7px solid transparent;
                border-color: $color--black-transparent;
                border-bottom-color: $color--popup-bg;
                bottom: 100%;
                content: "";
                height: 0;
                left: 50%;
                margin-left: -7px;
                pointer-events: none;
                position: absolute;
                width: 0;
            }

            &__number {
                display: inline-block;
                margin-bottom: 10px;
            }

            .nd-button-cta__btn {
                width: 100%;

                &__text {
                    font-size: 1.2rem;
                    padding: 8px 0;
                }
            }
        }

        .icon-phone {
            font-size: 1.4rem;
        }
    }
}

.nd-hero {
    background: url("../images/jpg/about.jpg") no-repeat center center;
    background-size: cover;
    min-height: 670px;
    padding-top: #{$size--header-size + 90};

    @include respond-to(phones) {
        min-height: auto;
    }


    &__subheader {
        color: $color--light;
        font-family: 'LatoLight';
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;

        @include respond-to(phones) {
            font-size: 1.4rem;
        }
    }

    &__header {
        &__text {
            color: $color--light;
            font-size: 4.8rem;
            line-height: 1.5;
            text-align: center;
            text-transform: uppercase;

            @include respond-to(phones) {
                font-size: 2.2rem;
            }
        }
    }

    &__cta {
        margin: 70px auto;
        text-align: center;

        @include respond-to(phones) {
            margin: 40px auto;
        }
    }

    &__mouse-icon {
        color: $color--light;
        font-size: 3rem;
        padding-bottom: 20px;
        text-align: center;

        @include respond-to(phones) {
            padding-bottom: 40px;
        }
    }
}

.nd-advantages {
    background-color: $color--light;
}

.nd-flex-grid {
    align-items: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;

    &__item {
        display: block;
        max-width: 360px;
        min-width: 330px;
        padding: 15px;

        &__icon {
            font-size: 6rem;
            text-align: center;
        }

        &__title {
            color: $color--primary;
            font-size: 2.1rem;
            line-height: 2.6rem;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        &__description {
            text-align: center;
        }
    }
}

.nd-services {
    padding: 0;

    &__bg-item {
        @include ease-transition;

        display: block;
        filter: blur(2px);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__darken-item {
        @include ease-transition;

        background-color: $color--black-half-transparent;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__green-item {
        @include ease-transition;

        background-color: $color--primary-half-transparent;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__photo {
        background: url("../images/jpg/course-photo.jpg") no-repeat center center;
        background-size: cover;
    }

    &__photosession {
        background: url("../images/jpg/course-photosession.jpg") no-repeat center center;
        background-size: cover;
    }

    &__macro {
        background: url("../images/jpg/course-macro.jpg") no-repeat center center;
        background-size: cover;
    }

    &__light {
        background: url("../images/jpg/course-light.jpg") no-repeat center center;
        background-size: cover;
    }

    &__people {
        background: url("../images/jpg/course-people.jpg") no-repeat center center;
        background-size: cover;
    }

    &__composition {
        background: url("../images/jpg/course-composition.jpg") no-repeat center center;
        background-size: cover;
    }

    &__order {
        background: url("../images/jpg/course-order.jpg") no-repeat center center;
        background-size: cover;
    }
}

.nd-flex-composite-grid {
    display: flex;

    @include respond-to(tablets-phones) {
        flex-wrap: wrap;
        max-width: 100vw;
    }


    &__column {
        display: flex;
        flex: 1 33%;
        flex-direction: column;

        @include respond-to(tablets-phones) {
            flex: 1 100%;
            min-width: 100vw;
        }
    }

    &__item {
        background-color: $color--dark-bg;
        display: flex;
        flex: 1 240px;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        overflow: hidden;
        padding: 35px;
        position: relative;

        @include respond-to(tablets-phones) {
            flex: 1 100%;
            height: auto;
            min-height: 250px;
            min-width: 100vw;
        }


        &:hover {
            .nd-services__darken-item {
                background-color: $color--black-quadro-transparent;
            }

            .nd-services__green-item {
                background-color: $color--primary-quadro-transparent;
            }

            .nd-flex-composite-grid__item__subtitle {
                color: $color--light;
            }

            .nd-services__bg-item {
                filter: none;
            }
        }

        &--2x {
            flex: 1 480px;

            @include respond-to(tablets-phones) {
                flex: 1 200%;
                min-height: 500px;
            }
        }

        &__title {
            color: $color--light;
            font-size: 2.4rem;
            text-shadow: $color--black-half-transparent 0 0 10px;
            text-transform: uppercase;
            z-index: 1;
        }

        &__subtitle {
            color: $color--light-sub;
            font-size: 1.8rem;
            margin-top: 15px;
            text-shadow: $color--black-half-transparent 0 0 10px;
            z-index: 1;
        }

        &__btn {
            margin-top: 25px;
            padding: 10px;
            z-index: 1;
        }
    }
}

.nd-trust {
    padding-bottom: 40px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            display: block;
            flex: 1 250px;
            margin-bottom: 40px;
            max-width: 250px;
            text-align: center;

            &__circle {
                display: block;
                height: 170px;
                margin: 0 auto 20px;
                padding-top: 40px;
                position: relative;
                width: 170px;

                &::after {
                    border: 2px solid $color--primary;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 170px;
                    left: -3px;
                    position: absolute;
                    top: 0;
                    width: 170px;
                }

                &::before {
                    border: 2px solid $color--primary-half-transparent;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 170px;
                    left: 3px;
                    position: absolute;
                    top: 0;
                    width: 170px;
                }
            }

            &__number {
                display: block;
                font-size: 6rem;
                font-weight: bold;
            }

            &__text {
                display: block;
            }

            &__description {}
        }
    }
}

.nd-price {
    background: url("../images/jpg/price.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 80px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
    }

    &__discount {
        flex: 8 66%;

        @include respond-to(phones) {
            flex: 1 100%;
        }


        &__header {
            color: $color--light;
            font-size: 4.8rem;
            text-transform: uppercase;

            @include respond-to(phones) {
                font-size: 3rem;
            }
        }

        &__subheader {
            color: $color--light;
            font-size: 3.8rem;
            margin: 30px 0;
            text-transform: uppercase;

            @include respond-to(phones) {
                font-size: 2.4rem;
            }
        }

        &__is {
            color: $color--primary;
            display: inline-block;
            font-size: 2.8rem;
            margin-right: 30px;
            text-transform: uppercase;

            .number {
                font-size: 6.4rem;
            }
        }

        &__was {
            color: $color--light;
            display: inline-block;
            font-size: 2.4rem;
            position: relative;
            text-transform: uppercase;

            .number {
                font-size: 4.8rem;
            }

            &::after {
                border-bottom: 3px solid $color--primary;
                bottom: 1.7rem;
                content: "";
                left: 0;
                margin-left: -5px;
                position: absolute;
                width: calc(100% + 10px);
            }
        }

        &__description {
            color: $color--light-dark;
            font-size: 2.4rem;
            margin-top: 30px;
        }
    }

    &__form {
        flex: 4 33%;

        @include respond-to(phones) {
            flex: 1 100%;
        }
    }
}

.nd-slider {
    padding-bottom: 80px;

    @include respond-to(phones) {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }


    &__main-photo {
        margin: 0 auto;
        max-width: 1140px;

        img {
            cursor: pointer;
            width: 100%;
        }

        @include respond-to(phones) {
            display: none !important;
        }
    }

    &__panel {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto;
        max-width: 1140px;

        @include respond-to(phones) {
            align-items: stretch;
        }
    }

    &__prev, &__next {
        color: $color--light-dark;
        cursor: pointer;
        font-size: 4rem;

        &:hover {
            color: $color--primary;
        }

        @include respond-to(phones) {
            display: none;
        }
    }

    &__mini {
        cursor: pointer;
        display: block;
        height: 120px;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 140px;

        @include respond-to(tablets) {
            height: 80px;
            width: 100px;
        }


        @include respond-to(phones) {
            height: 40vw;
            width: 50vw;
        }


        &:hover::after, &.active::after {
            background-color: $color--black-transparent;
        }

        &::after {
            @include ease-transition;

            background-color: $color--black-half-transparent;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            @include respond-to(phones) {
                background-color: $color--black-transparent;
            }
        }

        img {
            height: 100%;
            left: 50%;
            margin: 0;
            margin-right: -50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.nd-video {
    background: url("../images/jpg/video.jpg") no-repeat center center;
    background-size: cover;
    color: $color--light;
    padding: 150px 0;
    text-align: center;

    @include respond-to(phones) {
        padding: 20vw 0;
    }


    &__block-header {
        display: none;

        @include respond-to(phones) {
            display: block;
        }
    }

    &__embedded {
        background-color: $color--dark-bg;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    &__title {
        font-size: 4.8rem;
        text-transform: uppercase;

        @include respond-to(phones) {
            display: none;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        margin: 25px auto;
        text-transform: uppercase;

        @include respond-to(phones) {
            display: none;
        }
    }

    &__icon {
        cursor: pointer;
        display: inline-block;
        width: 11rem;
        height: 11rem;
        background: url() 0 0 no-repeat;
        background-image: url("../images/png/play-white.png");

        /* IE 8 */
        background-image: url("../images/svg/play.svg"), none;

        /* Modern browsers */
        background-size: auto 100%;
        vertical-align: middle;

        &:hover {
            opacity: 0.8;
        }
    }
}

.nd-reviews {
    $size--review-body-width: 540px;
    $size--avatar-width: 250px;
    $size--quote-width: 70px;
    $size--review-width: #{$size--review-body-width + $size--avatar-width + $size--quote-width + 40px};

    padding-bottom: 80px;

    @include respond-to(phones) {
        padding-left: 0;
        padding-right: 0;
    }


    &__container {
        align-items: top;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
    }

    &__prev,
    &__next {
        align-self: center;
        color: $color--light-dark;
        cursor: pointer;
        font-size: 4rem;

        @include respond-to(phones) {
            display: none;
        }


        &:hover {
            color: $color--primary;
        }
    }

    &__review {
        display: none;
        justify-content: space-between;
        min-width: $size--review-width;

        @include respond-to(tablets) {
            min-width: #{$size--review-body-width + $size--avatar-width / 2 + $size--quote-width - 100px};
        }


        @include respond-to(phones) {
            flex-wrap: wrap;
            max-width: 100vw;
            min-width: 100vw;
        }


        &.active {
            display: flex;
        }
    }

    &__avatar {
        margin-bottom: 30px;
        text-align: center;

        @include respond-to(phones) {
            flex: 1 100%;
        }


        img {
            border-radius: 50%;
            display: inline-block;
            height: $size--avatar-width;
            overflow: hidden;
            width: $size--avatar-width;

            @include respond-to(tablets) {
                height: $size--avatar-width / 2;
                width: $size--avatar-width / 2;
            }
        }
    }

    &__quote {
        background: url("../images/png/quotes.png") no-repeat top center;
        display: block;
        flex: 1 $size--quote-width;
        height: $size--quote-width;
        width: $size--quote-width;

        @include respond-to(phones) {
            display: none;
        }
    }

    &__review-body {
        max-width: 540px;

        @include respond-to(phones) {
            padding-left: 10px;
            padding-right: 10px;
        }


        &__quote {
            background: url("../images/png/quotes.png") no-repeat top center;
            background-size: #{$size--quote-width / 2};
            display: none;
            flex: 1 #{$size--quote-width / 2};
            height: #{$size--quote-width / 2};
            margin-right: 20px;
            vertical-align: top;
            width: #{$size--quote-width / 2};

            @include respond-to(phones) {
                display: inline-block;
            }
        }

        &__title {
            font-size: 2.8rem;
            margin-bottom: 15px;

            @include respond-to(phones) {
                display: inline-block;
                font-size: 2rem;
                line-height: 1.4;
                width: calc(100% - #{$size--quote-width / 2} - 40px);
            }
        }

        &__text {
            font-size: 1.8rem;
            font-style: italic;
            line-height: 1.4;

            @include respond-to(phones) {
                width: 90vw;
            }
        }

        &__link {
            margin: 15px 0;

            a {
                color: $color--light-link;
            }
        }

        &__author {
            display: inline-block;
            float: right;
            position: relative;

            @include respond-to(phones) {
                padding-top: 20px;
            }


            &::before {
                background-color: $color--primary;
                bottom: .8rem;
                content: '';
                display: inline-block;
                height: 2px;
                left: -25px;
                position: absolute;
                width: 20px;
            }
        }
    }

    &__progress {
        clear: both;
        display: block;

        @include respond-to(phones) {
            margin-top: 0 auto;
            padding-top: 20px;
            text-align: center;
        }


        &__item {
            background-color: $color--light-dark;
            cursor: pointer;
            display: inline-block;
            height: 3px;
            margin-right: 3px;
            width: 25px;

            &.active {
                background-color: $color--primary;
            }
        }
    }
}

.nd-gift {
    background: url("../images/jpg/gift.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 80px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
    }

    &__discount {
        flex: 8 66%;

        @include respond-to(phones) {
            flex: 1 100%;
        }


        &__header {
            color: $color--light;
            font-size: 3.8rem;

            @include respond-to(phones) {
                font-size: 3rem;
            }
        }

        &__description {
            color: $color--light-dark;
            font-size: 2.4rem;
            margin-top: 30px;
        }
    }

    &__form {
        flex: 4 33%;

        @include respond-to(phones) {
            flex: 1 100%;
        }
    }
}

.nd-contact {
    padding: 0;

    &__google-map {
        height: 520px;
        width: 100%;
    }

    &__list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto 20px;
        max-width: 1140px;

        &__item {
            text-align: center;
            margin-bottom: 30px;

            @include respond-to(phones) {
                flex: 1 100%;
                margin-bottom: 20px;
            }


            &__icon {
                color: $color--primary;
                display: inline-block;
                font-size: 4.5rem;
                margin-bottom: 10px;
            }

            &__text {
                display: block;
                font-size: 1.8rem;
            }
        }
    }
}

.nd-questions {
    background: url("../images/jpg/questions.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 80px;

    &__form {
        display: block;
        margin: 0 auto;
        max-width: 430px;
        width: 100%;
    }
}

.nd-footer {
    background-color: $color--footer-bg;
    padding-left: 10px;
    padding-right: 10px;

    &__container {
        align-items: center;
        color: $color--light;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.6rem;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
        min-height: 115px;
        padding: 15px 0;
    }

    &__rights {
        text-align: left;
        width: 250px;

        @include respond-to(phones) {
            flex: 1 100%;
            text-align: center;
        }
    }

    &__social {
        text-align: center;
        width: 250px;

        @include respond-to(phones) {
            border-bottom: 1px dotted $color--dark;
            border-top: 1px dotted $color--dark;
            flex: 1 100%;
            margin: 15px auto;
            padding: 15px 0;
        }


        &-icon {
            @include ease-transition;

            color: $color--light;
            font-size: 2rem;
            margin-right: 30px;

            &:hover {
                color: $color--primary;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__studio {
        text-align: right;
        width: 250px;

        @include respond-to(phones) {
            flex: 1 100%;
            text-align: center;
        }
    }
}

#nd-terms,
#nd-free-lesson-form,
#nd-courses-form,
#nd-call-form,
#nd-success-form,
#nd-menu-form {
    display: none;
}

#nd-menu-form {
    background: none;
}

.nd-terms {
    padding: 70px 80px;

    @include respond-to(phones) {
        padding: 70px 20px;
    }


    &__header {
        color: $color--primary;
    }

    &__subheader {
        color: $color--primary;
        font-size: 2.8rem;
    }

    &__text {
        line-height: 1.4;
        margin: 0;
    }
}

.nd-menu-form {
    align-items: center;
    background-color: $color--black-little-transparent;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;

    &__list {
        list-style: none;
        margin: 0;

        &__item {
            padding-bottom: 2rem;

            a {
                color: $color--light;
                font-size: 2.1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.nd-success-popup {
    padding: 50px 80px;
    text-align: center;

    @include respond-to(phones) {
        padding: 70px 20px;
    }


    &__text {
        font-size: 2.1rem;
        margin-bottom: 40px;
    }

    &__success-icon {
        height: 170px;
        margin-bottom: 20px;
        width: 170px;

        circle,
        polyline {
            fill: none;
            stroke: $color--primary;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 3;
        }
    }
}